[{kabue,[ {'_', kabue}
%%%%%%%%%% kabue configs start %%%%%%%%%%
  , {profile, default}
  , {version, <<"0.1.0-default">>}
  , {port, 9089}
  , {allowed_endpoints, [
        status
      , version
      , health
      , webhook
      , hello_world
    ]}
  , {webhook, [
        {<<"rakuten-rss-market">>, {kabue_rakuten_rss_market, webhook, 1}}
    ]}
  % use env INFLUXDB_URL and INFLUXDB_TOKEN for url and token
  , {influxdb_organization, default}
  , {influxdb_bucket, kabue}
  , {next_config, empty}
%%%%%%%%%%  kabue configs end  %%%%%%%%%%
]}].

