[{kabue,[ {'_', kabue}
%%%%%%%%%% kabue configs start %%%%%%%%%%
  , {profile, default}
  , {version, <<"0.1.0-preview2">>}
  , {port, 9089}
  , {allowed_endpoints, [
        status
      , version
      , health
      , webhook
      , market
      , static
      , hello_world
      , rpc
    ]}
  , {webhook, [
        {<<"rakuten-rss-market">>, {kabue_rakuten_rss_market, webhook, 1}}
    ]}
  % use env INFLUXDB_URL and INFLUXDB_TOKEN for url and token
  , {influxdb_organization, default}
  , {influxdb_bucket, kabue}
  , {forbidden_tickers, [<<"4372">>]}
  , {rakuten_rss_health_check_ticker, <<"4372">>}
  , {on_health_check_failure, {value, "beep -f 500 -l 500 -d 1500 -r 30 & sleep 0.6; beep -f 1000 -l 500 -d 1500 -r 30&"}}
  , {next_config, empty}
%%%%%%%%%%  kabue configs end  %%%%%%%%%%
]}].

