[{kabue,[ {'_', kabue}
%%%%%%%%%% kabue configs start %%%%%%%%%%
  , {profile, prod}
  , {version, <<"0.1.0-prod">>}
  , {port, 9089}
  , {allowed_endpoints, [
        status
      , version
      , health
      , webhook
      , hello_world
    ]}
  , {webhook, [
        {<<"rakuten-rss-market">>, {kabue_rakuten_rss_market, webhook, 1}}
    ]}
  , {kabue_rakuten_rss_market_db, kabue_rakuten_rss_market_default}
  , {next_config, empty}
%%%%%%%%%%  kabue configs end  %%%%%%%%%%
]}].

